.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    padding: 1rem;
    color: #3572EF;
    background-color: white;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.close-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

@media (min-width: 768px) {
    .burger-hidden {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .burger-hidden {
        visibility: visible;
    }
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right p {
    margin-right: 1rem;
}

form {
    margin: 0;
}

h1 {
    text-align: center;
}


.text-center {
    /*text-align: center;*/
}

th {
    /*text-align: center !important;*/
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.button-default {
    background-color: #3572EF !important;
    color: white !important;
}

.button-default:hover {
    background-color: white!important;
    color: #3572EF !important;
}

.button-selected {
    background-color: white !important;
    color: #3572EF !important;
}

.avatar-container {
    display: inline-block !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease !important;
    cursor: pointer;
}

.avatar-container:hover {
    transform: scale(1.1) !important; /* ขยายขนาดเมื่อ hover */
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important; !*  เพิ่มเงา*!*/
    opacity: 0.8 !important;  /* เพิ่มความโปร่งแสงเมื่อ hover */
}
