.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: #3572EF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right p {
    margin-right: 1rem;
}

form {
    margin: 0;
}

h1 {
    text-align: center;
}

.text-center {
    text-align: center;
}

th {
    text-align: center !important;
}

.error {
    color: red;
}

